@model List<AdminBSB.ViewModels.DetalleVM>

@{
    Layout = "~/Views/Shared/LayoutDespacho.cshtml";
}
<head>
    <link href="~/Content/css/Despacho.css" rel="stylesheet" />
</head>
<body>
    <div class="row clearfix">

        @*////////Label Para Identificar el area/////////////*@

        <!-- Task Info -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">

                <!-- Nav tabs -->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">

                        <div class="body">
                            @using (Html.BeginForm("Detalles", "Detalles", FormMethod.Get))
                            {


                                <table id="myDatatable" class="table table-bordered ">
                                    <tr>
                                        <th>
                                            Producto
                                        </th>
                                        <th>
                                            Cantidad
                                        </th>
                                        <th>
                                            Comentario
                                        </th>
                                        <th>
                                            Ticket
                                        </th>
                                        <th>
                                            TipoServicio
                                        </th>
                                        <th>Cambiar Estado</th>

                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.Nombre_producto
                                            </td>
                                            <td>
                                                @item.Cantidad
                                            </td>
                                            <td>
                                                @item.Comentario
                                            </td>
                                            <td>
                                                @item.Ticket
                                            </td>

                                            @if (item.TipoServicio == "Empacar")
                                            {
                                                <td style="color:red">
                                                    @item.TipoServicio
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @item.TipoServicio
                                                </td>
                                            }
                                            <td>
                                                <div class="col-sm-3">
                                                    <div class="switch">
                                                        <a class="btnAgregarMeta btn btn-danger popup" data-url="@Url.Action("Cambio", "Despacho",new {id=item.id})" name="despacharPedidod">Despachar</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{

    <script src=@Url.Content("~/CodeTamplate/DespachoScript.js")></script>
    <script src="~/Content/plugins/sweetalert/sweetalert.min.js"></script>
}
