@model AdminBSB.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
}

<div class="card ">



    <h2 class="midtext col-md-offset-4" >@ViewBag.Title</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @*<h4>Change Password Form</h4>*@
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="body" style="align-content:center">


            <div class="clearfix">
                <div class="col-sm-12">
                    <div class="form-group">
                        <strong>Usuario</strong>
                        <div class="form-line">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        Nueva Contraseña
                        <div class="form-line">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    Confirmacion de Contraseña
                    <div class="form-line">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-0 col-md-10">
                    <input type="submit" value="Cambiar contraseña" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>
          
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
