

@{
    ViewBag.Title = "Index";
}


<head>
    <link href="~/Content/Print.css" rel="stylesheet" />
    <link href="~/Content/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
</head>

<div class="card ocultarImprimir">
    <div class="header">
        <h2>Facturacion</h2><hr />
    </div>
    <div class="clearfix">
        <a class="" data-toggle="modal" data-target="#ModalCalculo" onclick="calculo1()">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">shopping_cart</i>
                    </div>
                    <div class="content">
                        <div class="text"><h4>Chimi</h4></div>
                        <h4><label value="5" id="Chimi" typeof="Int">0</label></h4>
                    </div>
                </div>
            </div>
        </a>
        <a class="" data-toggle="modal" data-target="#ModalCalculo" onclick="calculo2()">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">shopping_cart</i>
                    </div>
                    <div class="content">
                        <div class="text"><h4>Burritos</h4></div>
                        <h4><label value="5" id="Burritos" typeof="Int">0</label></h4>
                    </div>
                </div>
            </div>
        </a>
        <a class="" data-toggle="modal" data-target="#ModalCalculo" onclick="calculo3()">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">monetization_on</i>
                    </div>
                    <div class="content">
                        <div class="text"><h4>Total</h4></div>
                        <h4><label value="5" id="Total" typeof="Int"></label></h4>

                    </div>
                </div>
            </div>
        </a>

    </div>
</div>



@*///////////////////////////////////////////////////////////////vista/////////////////////*@
<div class="row clearfix" >

    @*////////Label Para Identificar el area/////////////*@
    <label value="" id="AreaBurrito" hidden> </label>
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
            <div class="header ocultarImprimir">
                <h2>Menu</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <!-- Nav tabs -->
                <div class="ocultarImprimir">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" id="areaChimi">
                            <a href="#home_with_icon_title" data-toggle="tab">
                                <i class="material-icons">restaurant</i> Chimis
                            </a>
                        </li>
                        <li role="presentation" id="areaBurritos">
                            <a href="#profile_with_icon_title" data-toggle="tab">
                                <i class="material-icons">restaurant_menu</i> Burritos
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">

                        <div class="body">

                            <div id="aniimated-thumbnials" class="col-md-12 col-sm-12 ocultarImprimir">

                                @foreach (var item in ViewBag.ImagesChimi)
                                {
                                    <div class="col-md-2" >
                                        <div class="form-inline">
                                            <img class="em-alt-hover  em-img-lazy imagen" style="display: block; max-width: 100%;" src="@Url.Content(item.UrlImage)" width="70" height="70" alt="Chimis El Rubio" data-estado="@item.Nombre_producto" />
                                            <div class="col-md-2 left">
                                                <label>@item.Nombre_producto</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <label class="descripcion" center>
                            Chimi El Rubio<br />
                            C/ Primavera, Los Jardines Del Norte<br />
                            Sto. Dgo. D.N, Frente Agricultura<br />
                            Telefono: 809-316-4940<br />
                            Fecha:@DateTime.Now<br /><br />
                            Turno: <label id="turno"></label>
                        </label>

                        <div class="row">
                            <div class="form-group" id="tablaPricipal" hidden>
                                <table id="detailsTable" class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th style="width:30%">Producto</th>
                                            <th style="width:20%">Cantidad</th>
                                            <th style="width:30%" class="ocultarComentario">Comenatrio</th>
                                            <th style="width:25%">Precio</th>
                                            <th style="width:25%" hidden>TipoProducto</th>
                                            <th style="width:10%" hidden>IdProducto</th>
                                            <th style="width:10%" class="ocultarComentario"></th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <h4 class="col-md-offset-8 total"><label><strong>Total:      RD$</strong> <label value="5" id="totalFactura" typeof="Int">0</label></label></h4>
                                <div class="row ocultarImprimir">
                                    <div class="col-md-4">
                                        <button type="reset" class="btn btn-danger" data-dismiss="modal" onclick="limpia()"><i class="material-icons">cancel</i>  Cancelar</button>
                                        <button id="saveOrder" type="submit" class="btn btn-primary"><i class="material-icons">send</i>  <span> Facturar</span> </button>
                                    </div>
                                    <div class="switch col-md-offset-9">
                                        <label>Aqui<input type="checkbox" id="tipoServicio"><span class="lever switch-col-red"></span>Para Llevar</label>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">

                        <div class="body ocultarImprimir">

                            <div id="aniimated-thumbnials" class="col-md-12">

                                @foreach (var item in ViewBag.ImagesBurrito)
                                {
                                    <div class="col-md-2">
                                        <div class="form-inline">
                                            <img class="em-alt-hover em-img-lazy imagen" style="display: block; max-width: 100%;" src="@Url.Content(item.UrlImage)" width="70" height="70" alt="Area Burritos" data-estado="@item.Nombre_producto" />
                                            <div class="col-md-2 left">
                                                <label>@item.Nombre_producto</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <label class="descripcion" center>
                            Chimi El Rubio<br />
                            C/ Primavera, Los Jardines Del Norte<br />
                            Sto. Dgo. D.N, Frente Agricultura<br />
                            Telefono: 809-316-4940<br />
                            Fecha:@DateTime.Now<br /><br />
                            Turno: <label id="turnoburrito"></label>
                        </label>
                        <div class="row">
                            <div class="form-group" id="tablaSegundaria" hidden>
                                <table id="BurritoTable" class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th style="width:30%">Producto</th>
                                            <th style="width:20%">Cantidad</th>
                                            <th style="width:30%" class="ocultarComentario">Comenatrio</th>
                                            <th style="width:25%">Precio</th>
                                            <th style="width:25%" hidden>TipoProducto</th>
                                            <th style="width:10%" hidden>IdProducto</th>
                                            <th style="width:10%" class="ocultarComentario"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <h4 class="col-md-offset-8 total"><label><strong>Total:    RD$</strong> <label value="5" id="totalFacturas" typeof="Int">0</label></label></h4>
                                <div class="row ocultarImprimir">
                                    <div class="col-md-4">
                                        <button type="reset" class="btn btn-danger" data-dismiss="modal" onclick="limpiar()"><i class="material-icons">cancel</i>  Cancelar</button>
                                        <button id="SaveBurritos" type="submit" class="btn btn-primary"><i class="material-icons">send</i> <span> Facturar</span> </button>


                                    </div>
                                    <div class="switch col-md-offset-9">
                                        <label>Aqui<input type="checkbox" id="tipoServicioB"><span class="lever switch-col-red"></span>Para Llevar</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <hr />
    <!-- #END# Task Info -->
    <!-- Browser Usage -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ocultarImprimir">
        <div class="card">
            <div class="body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" id="producto" placeholder="Producto" value="" />

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="number" class="form-control" placeholder="Cantidad" id="cantidad" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">

                        <div class="form-group form-float">
                            <div class="form-line" id="agregar" data-request-url="@Url.Action("TiposProducto", "Facturas")">
                                <input type="text" class="form-control" id="ComentarioAgregado" placeholder="Ingredientes/Comentario" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 row">
                        <a id="addToList" class="btn btn-primary" onclick="actualizarChbox()"><i class="material-icons">check_circle</i> Agregar Lista</a>
                        @*///////////////////////////////////LLama el Modal/////////////////////////////////////*@
                        <button type="button" class="btn btn-info waves-effect m-r-20" data-toggle="modal" data-target="#defaultModal"><i class="material-icons">local_offer</i>  Ingredientes</button>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*////////////////////////Modal de Ingrediente/////////////////////*@

<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="form-group">
                    <h2 class="card-inside-title">Ingredientes</h2><br />
                    <div class="demo-checkbox">
                        <input type="checkbox" id="cebolla" class="chk-col-red" checked />
                        <label for="cebolla">Cebolla</label>
                        <input type="checkbox" id="tomaste" class="chk-col-pink" checked />
                        <label for="tomaste">Tomaste</label>
                        <input type="checkbox" id="repollo" class="chk-col-purple" checked />
                        <label for="repollo">Repollo</label>
                        <input type="checkbox" id="catchut" class="chk-col-deep-purple" checked />
                        <label for="catchut">Catchut</label>
                        <input type="checkbox" id="mayonesa" class="chk-col-green" checked />
                        <label for="mayonesa">Mayonesa</label>
                        <input type="checkbox" id="picante" class="chk-col-blue" checked />
                        <label for="picante">Picante</label>
                        <input type="checkbox" id="mostaza" class="chk-col-light-blue" checked />
                        <label for="mostaza">Mostaza</label>
                    </div>
                    <div class="form-line">
                        <input type="text" class="form-control" placeholder="Comentario" id="Comentario" value="" />
                    </div>
                </div><br />
                <div class="form-group">
                    <div class="col-md-10">
                        <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" onclick="agregarComentario()" data-dismiss="modal">Agregar</button>
                    </div>
                </div><br />
            </div>
        </div>
    </div>
</div>

@*////////////////////////Modal de Calculo/////////////////////*@

<div class="modal fade" id="ModalCalculo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-line center">

                    <div class="row">
                        <div class="col-lg-12 col-md-offset-4">
                            <h2><label style="color:red">Total a Pagar:</label></h2>

                        </div>
                        <div class="col-md-offset-5">
                            <h2 style="color:red" class="col-md-2">RD$</h2> <h2 style="color:red" class="card-inside-title center col-md-3" id="cantida" color="red"></h2><br />
                        </div>
                    </div>
                    <div class="col-md-offset-5">
                        <h2 style="color:dodgerblue"><label>Efectivo:</label> </h2>
                    </div>
                    <h5><strong><input type="text" class="form-control" size="100" style="text-align:center" placeholder="Cantida" id="Comentari" value="" /></strong> </h5>
                    <div class="col-md-offset-3">
                        <h2><label style="color:green">Total a Devolver:</label> </h2>
                    </div>
                    <div class="col-md-offset-5">
                        <h2 style="color:green" class="col-md-2">RD$ </h2> <h2 class="card-inside-title center col-md-3" id="cambio" style="color:green"></h2><br />
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-block btn-lg bg-red waves-effect" data-dismiss="modal" onclick="clearCalculo()">Cerrar</button>
                        </div>
                    </div><br />

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @*<script src="~/CodeTamplate/PrintScript.js"></script>*@
    <script src="~/CodeTamplate/FacturacionScript.js"></script>
    <script src="~/CodeTamplate/BurritoScript.js"></script>

    <!-- Jquery Core Js -->
    <!-- SweetAlert Plugin Js -->
    <script src="~/Content/plugins/sweetalert/sweetalert.min.js"></script>

    <script src="~/Content/js/pages/ui/dialogs.js"></script>

}
