@model AdminBSB.ViewModels.DetalleVM
<head>
    <link href="~/Content/Print.css" rel="stylesheet" />
</head>
<div disable="true">

    @{
        var role = ViewBag.Role;
        var layaouts = "";
        if (ViewBag.layaout == "true")
        {
            Layout = null;
        <script type="text/javascript">


            window.print();

            var int = self.setInterval("refresh()", 100);
            function refresh() {

                location.reload(true);
                javascript: history.back(1);
            }   
        </script>
         
            layaouts = "false";
        }



        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }


    }
</div>

<section class="card">
    @if (layaouts == "")
    {
    <div class="container-fluid ocultarImprimir" id="cierre">
        <div class="block-header">
            @*<h2>DASHBOARD</h2>*@
        </div>

        <!-- Widgets -->
        <div class="row clearfix">
            <a href="@Url.Action("Index", "Detalles")">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">

                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text"><h4>Facturas</h4></div>

                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("Index", "Facturas")">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">shopping_cart</i>
                        </div>
                        <div class="content">
                            <div class="text"><h4>Facturación</h4></div>

                        </div>
                    </div>
                </div>
            </a>

            <a href="@Url.Action("PantallaPrincipal", "Facturas", new { layaout = "true", layaouts })" >
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">shopping_cart</i>
                        </div>
                        <div class="content">
                            <div class="text"><h4>Imprimir Cierre del Dia</h4></div>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#myModal" class="btnCuadre btn-link btn-info" data-toggle="modal">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">shopping_cart</i>
                        </div>
                        <div class="content">
                            <div class="text"><h4>Cuadre Del Dia</h4> </div>

                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="container-fluid">
            <div class="block-header">
                @*<h2>
                        CAROUSEL
                        <small>All images taken from <a href="https://unsplash.com/" target="_blank">unsplash.com</a></small>
                    </h2>*@
            </div>
            <div class="row clearfix">
                <!-- Basic Example -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Los Mejores Chimis</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="carousel-example-generic" class=" carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner imagenMenu" role="listbox" >
                                    <div class="item active" style=" max-width: 100%;">
                                        <img src="~/Fotos/burger.jpg" />
                                    </div>
                                    @foreach (var item in ViewBag.ImagesChimi)
                                    {

                                        <img sizes="160x160" class="em-alt-hover em-img-lazy item" style=" max-width: 100%;" src="@Url.Content(item.UrlImage)" width="300" height="220" alt="Chimis El Rubio" data-estado="@item.Nombre_producto" />

                                    }

                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Basic Example -->
                <!-- With Captions -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Los Mejores Burritos</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="carousel-example-generic_2" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic_2" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic_2" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic_2" data-slide-to="2"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner " role="listbox" sizes="60x60">
                                    <div class="item active" >

                                        <img src="~/Fotos/burger.jpg"  />

                                    </div>
                                    @foreach (var item in ViewBag.ImagesBurrito)
                                    {

                                        <img sizes="160x160" class="em-alt-hover em-img-lazy item " style=" max-width: 100%;" src="@Url.Content(item.UrlImage)" width="300" height="220" alt="Chimis El Rubio" data-estado="@item.Nombre_producto"  />

                                    }
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic_2" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic_2" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# With Captions -->
            </div>
        </div>
    </div>
    }
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="myModalLabel">Cuadre de Caja</h4><hr />
                </div>
                <div class="modal-body">
                    <div id="modal-content">
                        cargando.....

                    </div>
                    <div id="Acciones" data-url="@Url.Action("Cierre", "Gastos")">
                        <button type="button" class="btn btn-danger " id="elimina" name="Datos">Cierre Del Dia</button>
                        <a class="btn btn-primary" name="Imprimir Cierre" type="button" href="@Url.Action("PantallaPrincipal", "Facturas", new { layaout = "true", layaouts })">Imprimir Cierre</a>
                       
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div>
        <div class="table-container descripcione">
            <h4><label><strong>Venta del Dia</strong></label></h4>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio  </th>
                    </tr>

                </thead>

                <tbody>
                    @{
                        var totalVenta = 0;

                    }

                    @foreach (var item in Model.VentaVMs)
                    {

                        <tr>

                            <td>@item.Nombre_producto</td>
                            <td>@item.Cantidad</td>
                            <td>@item.Precio</td>

                        </tr>


                        totalVenta = item.Precio + totalVenta;


                    }
                </tbody>
            </table>
        </div>

        <div class="table-container descripcione">
            <h4><label><strong>Gastos del Dia</strong></label></h4>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio  </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var totalGastos = 0;


                    }
                    @foreach (var gastos in ViewBag.gastos)
                    {
                        <tr>

                            <td>@gastos.Nombre</td>
                            <td>@gastos.Descripcion</td>
                            <td>@gastos.Precio</td>


                        </tr>

                        totalGastos = gastos.Precio != null ? totalGastos + gastos.Precio : totalGastos;
                    }
                    @{
                        var Totales = totalVenta - totalGastos;
                    }
                </tbody>
            </table>
            <div>
                <div class="input-group" style="text-align:center">
                    <label>Ventas: </label><label>@totalVenta</label>
                    <div class="input-group">
                        <label>Gastos: </label> <label>@totalGastos</label>
                    </div>
                    <div class="input-group">
                        <label>Total: </label> <label><strong>@Totales</strong></label>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



@section scripts{
    <script src="~/CodeTamplate/PaginaPrincipal.js"></script>
    <script src="~/Content/plugins/sweetalert/sweetalert.min.js"></script>

}