@model IEnumerable<Facturar.Models.Factura_Chimi_T>

<div class="row clearfix">

    @*////////Label Para Identificar el area/////////////*@

    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">

                <h2>Despacho de Pedidos</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="body">
                <!-- Nav tabs -->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">

                        <div class="body">
                            @using (Html.BeginForm("Detalles", "Detalles", FormMethod.Get))
                            {
                         
                           
                                <table id="myDatatable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Producto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cantidad)
                                        </th>                                      
                                        <th>
                                            @Html.DisplayNameFor(model => model.comenatrio)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ticket)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Estado)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TipoServicio)
                                        </th>
                                        <th>Cambiar Estado</th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Producto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cantidad)
                                        </td>                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.comenatrio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ticket)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Estado)
                                        </td>
                                        @if (item.TipoServicio == "Empacar")
                                        {
                                            <td style="color:red">
                                                @Html.DisplayFor(modelItem => item.TipoServicio)
                                            </td>
                                        }
                                        else
                                        {
                                        <td >
                                            @Html.DisplayFor(modelItem => item.TipoServicio)
                                        </td>
                                        }
                                        <td>


                                            @*@if (item.Estado == "Despachado")
            {
                <div class="col-sm-3">

                    <div class="switch" id="agregar" data-request-url="@Url.Action("Detalle", "Detalles", new { id = item.id })">

                        <label><input type="checkbox" id="despachoCHB" checked disabled><span class="lever switch-col-green"></span></label>
                    </div>
                </div>
            }
            @if (item.Estado == "Cancelado")
            {
                <div class="col-sm-3">

                    <div class="switch" id="agregar" data-request-url="@Url.Action("Detalle", "Detalles", new { id = item.id })">

                        <label><input type="checkbox" data-id="@item.id" id="despachoCHB" checked><span class="lever switch-col-red"></span></label>
                    </div>
                </div>
            }*@

                                            <div class="col-sm-3">

                                                <div class="switch" id="despachar" data-request-url="@Url.Action("Cambio", "Despacho", new { id = item.id })">

                                                    <label><input type="checkbox" data-id="@item.id" id="despacho"><span class="lever switch-col-green"></span></label>
                                                </div>
                                            </div>


                                        </td>

                                    </tr>
                                    }

                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>