@model AdminBSB.ViewModels.ProductoVM

@{

    Layout = null;

    var editado = ViewBag.Editado;
}


<head>
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2-responsive.css" rel="stylesheet" />
    <link href="~/Content/css/Facturas.css" rel="stylesheet" />
</head>



@*////////////////////////Modal/////////////////////*@

<label id="editados" val="s">@editado</label>

@using (Html.BeginForm("Edit", "Detalles", FormMethod.Post, new { id = "EditModal" }))
{
    @Html.AntiForgeryToken()

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group" id="agregar" data-request-url="@Url.Action("TiposProducto", "Facturas")">
                                @Html.LabelFor(model => model.Productos, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.Productos, ViewBag.tipoProducto as SelectList, Model.Productos, new { @class = "form-control select2", id = "Product" })
                                    @Html.ValidationMessageFor(model => model.Productos, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control", id = "Cantidad" } })
                                    @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", id = "Precio", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Ticket, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-line ">
                                    @Html.EditorFor(model => model.Ticket, new { htmlAttributes = new { @class = "form-control ", id = "Ticket", disabled = "disabled", style = "background-color:lightgray" } })
                                    @Html.ValidationMessageFor(model => model.Ticket, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group" id="diferencias" hidden>
                                <label class="col-md-2">Diferencia</label>
                                <div class="form-line ">
                                    <h2><input class="form-control" type="text" value="" id="diferencia" readonly="readonly" /></h2>
                                    <div hidden>
                                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", id = "precioActual", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Comentario)
                                <div class="form-line coment">
                                    @Html.TextAreaFor(model => model.Comentario, new { htmlAttributes = new { @rows = "10", @class = "form-control coment", id = "comenatrio"} })
                                    @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.HiddenFor(model => model.id, new { id = "id" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6" id="editar" data-request-url="@Url.Action("Edit", "Detalles")">
                            <button type="submit" onclick="EditarModal()" class="btn btn-success" data-dismiss="modal"> Guardar</button>
                            <button id="editarDetalles" data-dismiss="modal" class="btn btn-primary">Cancelar</button>
                        </div>
                    </div><br />
                </div>
            </div>
        </div>
    </div>


}


    <script type="text/javascript">
        $("#Product").change(function () {
            CambioProducto();
        });

        $("#Cantidad").change(function () {
            CambioProducto();
        });

        function CambioProducto() {
            var url = $('#agregar').data('request-url');
            var producto = $("#Product option:selected").text();
            var actual = $("#precioActual").val();
           
            console.log("hola");
            var cantidad = document.getElementById("Cantidad").value;
            $.get(url, { producto: producto }, function (data) {
                $("#Precio").empty();

                var monto = data.Monto;
                var total = (parseFloat(cantidad) * parseInt(monto));
                $("#Precio").val(total);
                var diferencia = parseInt(total) - parseInt(actual);
                console.log(diferencia);
                if (diferencia < 0) {
                    document.getElementById("diferencia").style.color = "red"
                }
                else {
                    document.getElementById("diferencia").style.color = "black"
                }
                document.getElementById("diferencia").value = diferencia;
                document.getElementById("diferencias").style.display = "block";
            });
        }

    </script>

    <script src="~/Scripts/select2.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".select2").select2({              
                width: '100%',
                allowClear: true
            });

        });
    </script>

    






