@model List<AdminBSB.ViewModels.DetalleVM>

@{
    var error = ViewBag.Error;
    var editado = ViewBag.Editado;
}

@*///////////////////////////////////////////////////////////////vista/////////////////////*@
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2-responsive.css" rel="stylesheet" />
</head>

<div class="row clearfix">

    @*////////Label Para Identificar el area/////////////*@

    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">

                <h2>Detalle de Facturas</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="body">
                <!-- Nav tabs -->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">

                        <div class="body">
                            <label id="error" val="" hidden>@error</label>

                            <table id="myDatatable" style="width:100%" class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>

                                        <th>
                                            Producto
                                        </th>
                                        <th>
                                            Cantidad
                                        </th>
                                        <th>
                                            Precio
                                        </th>
                                        <th>
                                            comenatrio
                                        </th>
                                        <th>
                                            Ticket
                                        </th>
                                        <th>
                                            Cambiar Estado
                                        </th>
                                        <th>
                                            Estado
                                        </th>

                                        <th></th>
                                        @*</tr>

                                            @foreach (var a in Model)
                                            {
                                                <tr>

                                                    <td>
                                                        @a.Nombre_producto
                                                    </td>
                                                    <td>
                                                        @a.Cantidad
                                                    </td>
                                                    <td>
                                                        @a.Precio
                                                    </td>
                                                    <td>
                                                        @a.Comentario
                                                    </td>
                                                    <td>
                                                        @a.Ticket
                                                    </td>
                                                    <td>
                                                        @a.Estado
                                                    </td>

                                                    <td>

                                                        @if (a.Estado == "Despachado")
                                                        {
                                                            <div class="col-sm-3" dissable>

                                                                <div class="switch" style="width:75%;">
                                                                    <a id="btnAgregarMeta" class="btn btn-success">Despachado</a>
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (a.Estado == "Cancelado")
                                                        {

                                                            <div class="col-sm-3">

                                                                <div class="switch">
                                                                    <a id="btnAgregarMeta" class="btn btn-primary popup" href="@Url.Action("Detalle", "Detalles", new {id=a.id, estatus=a.Estado,codigo=a.Ticket})">Reativar</a>
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (a.Estado == "Facturado")
                                                        {
                                                            <div class="col-sm-3">

                                                                <div class="switch" id="agregar">
                                                                    <a id="btnAgregarMeta" class="btn btn-danger active popup" href="@Url.Action("Detalle", "Detalles", new {id=a.id, estatus=a.Estado, codigo=a.Ticket})">Cancelar</a>
                                                                </div>
                                                            </div>
                                                        }

                                                    </td>
                                                    <td>
                                                        @if (a.Estado == "Despachado")
                                                        {
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        }
                                                        else
                                                        {
                                                            <a href="#myModal" class="btnEditar btn-link btn-info" data-toggle="modal" data-id="@a.id"><i class="glyphicon glyphicon-pencil"></i></a>

                                                        }
                                                    </td>
                                                </tr>*@
                                        @*}*@
                                </thead>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="myModalLabel">Editar Pedido</h4>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    cargando.....
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="~/Content/js/admin.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/CodeTamplate/DetallesScript.js"></script>

}
