@model IEnumerable<Facturar.Models.Factura_Chimi_T>

@{
    var error = ViewBag.Error;
    var editado = ViewBag.Editado;
}

@*///////////////////////////////////////////////////////////////vista/////////////////////*@

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Editors | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Content/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/Content/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/css/themes/all-themes.css" rel="stylesheet" />
    @*<script src="~/ScriptDetalles/Detalles.js" rel="stylesheet"></script>*@



</head>
<div class="row clearfix">

    @*////////Label Para Identificar el area/////////////*@

    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <div class="card">
            <div class="header">

                <h2>Detalle de Facturas</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
           
            <div class="body">
                <!-- Nav tabs -->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">

                        <div class="body">
                            @using (Html.BeginForm("Detalles", "Detalles", FormMethod.Get))
                            {
                                <div class="form-inline ">

                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="Codigo" placeholder="Tickect" id="codigo">
                                        @*@Html.DropDownList("empresa", ViewBag.Empresa as SelectList, "--Seleccionar Empresa", new { @class = "form-control", id = "empresa" })*@

                                        <button id="buscarempleado" class="btn btn-primary" type="submit">Buscar</button>
                                        <hr />
                                    </div>
                                </div>
                                <label id="error" val="" hidden>@error</label>
                                
                                <table id="myDatatable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <tr>
                                    
                                        <th>
                                            @Html.DisplayNameFor(model => model.Producto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cantidad)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Precio)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.comenatrio)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ticket)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Estado)
                                        </th>
                                        <th>Cambiar Estado</th>
                                        <th></th>
                                    </tr>
                                    
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                      
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Producto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cantidad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Precio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.comenatrio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ticket)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Estado)
                                        </td>

                                        <td>

                                            @if (item.Estado == "Despachado")
                                            {
                                                <div class="col-sm-3">

                                                    <div class="switch" id="agregar" data-request-url="@Url.Action("Detalle", "Detalles", new { id = item.id })">

                                                        <label><input type="checkbox" id="checkbo" checked disabled><span class="lever switch-col-green"></span></label>
                                                    </div>
                                                </div>
                                            }
                                            @if (item.Estado == "Cancelado")
                                            {

                                                <div class="col-sm-3">

                                                    <div class="switch" id="agregar" data-request-url="@Url.Action("Detalle", "Detalles", new { id = item.id })">

                                                        <label><input type="checkbox" data-id="@item.id" id="checkbo" checked><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                            }
                                            @if (item.Estado == "Facturado")
                                            {
                                                <div class="col-sm-3">

                                                    <div class="switch" id="agregar" data-request-url="@Url.Action("Detalle", "Detalles", new { id = item.id })">

                                                        <label><input type="checkbox" data-id="@item.id" id="checkbo"><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                            }

                                        </td>
                                        <td>
                                            @if (item.Estado == "Despachado")
                                            {
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            }
                                            else
                                            {
                                                <a href="#myModal" class="btnEditar btn-link btn-info" data-toggle="modal" data-id="@item.id"><i class="glyphicon glyphicon-pencil"></i></a>

                                            }
                                        </td>
                                    </tr>
                                    }

                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="myModalLabel">Editar Pedido</h4>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    cargando.....
                </div>
            </div>
        </div>
    </div>
</div>